.m-server{
  background: #4e4e4e;
  height: 100%;
  border: 20px solid #5a5a5a;
  border-right: none;
  margin-right: 20px;
  .toggle-btn{
    right: 25px;
  }
  .logo{
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    z-index: 99;
  }

  .content{
    padding: 160px 0 0 0;
    margin: 0px 25px;
    height: 100%;
  }

  .server-list{
    padding: 60px;
    width: 33.3%;
    float: left;
    text-align: center;
    transition:all 1s;
    h3{
      height: 90px;
      padding-top: 20px;
      font-size: 32px;
      color: #ffffff;
      transition:all 1s;
      p{
        font-size: 22px;
        padding: 6px;
      }
    }
    .description{
      transition:all 1s;
      padding-top: 10px;
      font-size: 18px;
      height: 80px;
      overflow: hidden;
      color: #ffffff;
    }
    .server-logo{
      width: 100%;
      text-align: center;
      height: 88px;
      span{
        margin: 0 auto;
        display: block;
        width: 88px;
        height: 88px;
        background: url("../images/server-icon.png") no-repeat;
      }
    }

  }

  .server-list:nth-child(odd){
    background: #5d5d5d;
  }
  .server-list:nth-child(even){
    background: #444444;
  }

  .server-list:hover{
    background: #f4b51a;
    h3{
      color: #000;
    }
    .description{
      color: #866209;
    }
  }
  .server-list:nth-child(1){
    .server-logo{
      span{

        background-position: 0 0px;
      }
    }
  }

  .server-list:hover:nth-child(1){
    .server-logo{
      span{
        background-position: -0px -88px;
      }
    }
  }

  .server-list:nth-child(2){
    .server-logo{
      span{
        background-position: -88px -1px;
      }
    }
  }

  .server-list:hover:nth-child(2){
    .server-logo{
      span{
        background-position: -88px -88px;
      }
    }
  }

  .server-list:nth-child(3){
    .server-logo{
      span{
        background-position: -174px -0px;
      }
    }
  }
  .server-list:hover:nth-child(3){
    .server-logo{
      span{
        background-position: -174px -88px;
      }
    }
  }

  .server-list:nth-child(4){
    .server-logo{
      span{
        background-position: -261px -0px;
      }
    }
  }

  .server-list:hover:nth-child(4){
    .server-logo{
      span{
        background-position: -261px -88px;
      }
    }
  }

  .server-list:nth-child(5){
    .server-logo{
      span{
        background-position: -348px -0px;
      }
    }
  }

  .server-list:hover:nth-child(5){
    .server-logo{
      span{
        background-position: -348px -88px;
      }
    }
  }

  .server-list:nth-child(6){
    .server-logo{
      span{
        background-position: -435px -0px;
      }
    }
  }

  .server-list:hover:nth-child(6){
    .server-logo{
      span{
        background-position: -435px -88px;
      }
    }
  }

  .mCSB_inside>.mCSB_container{  margin-right: 20px;}
  .mCSB_dragger_bar{  width: 20px!important;  margin: 0 0px !important;  border-radius:0!important;  background: #ffbf00!important;  }
  .mCSB_scrollTools{  width: 20px;
    position: absolute; right: 0px;
    background: #000;}
  .mCSB_draggerRail{  background: #f0f0f0 !important;  }
  .mCSB_scrollTools .mCSB_draggerRail{  border-radius: 0!important;  }
  .mCustomScrollBox{  width: 100%;height: 100%;  }
  .mCS-inset.mCSB_scrollTools .mCSB_draggerRail{ width: 20px !important; }


}

@media screen and(max-width: 1624px){
  .m-server {
    .server-list{
      h3{
        height: 120px;
      }
    }
  }
}

@media screen and(max-width: 1060px){
  .m-server {
    .server-list{
      h3{
        height: 170px;
      }
    }
  }
}

@media screen and(max-width: 800px){
  .m-server {
    .server-list{
      width: 100%;
      h3{
        font-size: 22px;
        height: 80px;
        p{
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and(max-width: 500px){
  .m-server {
    border: 10px solid #5a5a5a;
    margin-right: 10px;
    border-right: none;
    .content{
      margin: 0 15px;
      padding: 100px 0;
    }
    .logo {
      width: 120px;
      top: 10px;
      left: 10px;
    }
    .toggle-btn{
      right: 15px!important;
    }
    .mCSB_inside>.mCSB_container{  margin-right: 10px;}
    .mCSB_dragger_bar{  width: 10px!important;  margin: 0 0px !important;  border-radius:0!important;  background: #ffbf00!important;  }
    .mCSB_scrollTools{  width: 10px;
      position: absolute; right: 0px;}
    .mCS-inset.mCSB_scrollTools .mCSB_draggerRail{ width: 10px !important; }

    .server-list:nth-child(odd){
      background: #333333 !important;
    }
    .server-list:nth-child(even){
      background: #3b3b3b !important;
    }

    h3{
      color: #cccccc!important;
    }
    .description{
      color: #9b9b9b!important;
    }

    .server-logo{
      span{
        background: url("../images/server-icon.png") no-repeat;
        background-position-y: 0 !important;
      }
    }
  }
  

}
