
<div class="m-mostRecent ">
  <div  class="toggle-btn mostRecent-nav">
        <img src="assets/images/nav01.png" class="nav01">
        <img src="assets/images/nav01.png" class="nav02">
        <img src="assets/images/nav01.png" class="nav03">
    </div>

    <div class="mostRecent-body" id="">

        <ul class="ul frame-bg" id="mostRecent-wrapper" >
            <li class="left item-box">
                <ul>
                    <li class="item half item-go" data-index="{{leftCase.order}}" ng-class="$index==1?'show':''" ng-repeat="leftCase in MostRecentCtrl.caseList[0]" on-last-repeat>
                        <!--<div class="item-img"><img ng-src="{{leftCase.caseStudiesThumbSrc}}" width="100%"></div>-->
                        <div class="item-img"><img ng-src="http://192.168.0.23:4000{{leftCase.caseStudiesThumbSrc}}" width="100%"></div>
                        <div class="item-img" ng-if="$index == 1" style="background: #ffcc00">&nbsp;</div>
                        <div class="bg"></div>
                        <!--<ul ng-if="leftCase.listType == 'half'">-->
                        <ul>
                            <li class="item-hd ">{{leftCase.type}}</li>
                            <li class="item-bd" ng-bind-html="leftCase.title | to_trusted"></li>
                            <li class="item-ft ">{{leftCase.body}}</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="right item-box">
                <ul>
                    <li class="item half item-go" data-index="{{rightCase.order}}" ng-repeat="rightCase in MostRecentCtrl.caseList[1]" on-last-repeat>
                        <!--<div class="item-img"><img ng-src="{{rightCase.caseStudiesThumbSrc}}" width="100%"></div>-->
                        <div class="item-img"><img ng-src="http://192.168.0.23:4000{{rightCase.caseStudiesThumbSrc}}" width="100%"></div>
                        <div class="bg"></div>
                        <!--<ul ng-if="rightCase.listType == 'half'">-->
                        <ul>
                            <li class="item-hd ">{{rightCase.type}}</li>
                            <li class="item-bd" ng-bind-html="rightCase.title | to_trusted"></li>
                            <li class="item-ft ">{{rightCase.body}}</li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
        <p class="copyright fz10Regular">© 2015 SISOBRAND.COM</p>
    </div>
</div>